<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>screedCare</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">

	 <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"></head>
<body>
	<header>
		<a href="#" class="logo">screedCare</a>
		<div class="bx bx-menu" id="menu-icon"></div>
		<ul class="navbar">
			<li><a href="#shop">Blog</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#faq">Faq</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>

		<div class="icons">
			<a href="#"><i class='bx bx-search' ></i></a>
			<a href="#"><i class='bx bxs-user-circle' ></i></a>
			<a href="#"><i class='bx bxs-shopping-bags' ></i></a>
		</div>
	</header>

	<section class="shop" id="shop"> 
		<div class="container">
			{{range .Product}}
			<a href="{{.Url}}">
				<div class="box">
					<img src="/static/img/{{.Foto}}">
					<h4>{{.NamaBarang}}</h4>
					<h5>{{.Harga}}</h5>
					<!-- <div class="cart">
						<a href="#"><i class="bx bx-cart"></i></a>
					</div> -->
				</div>
			</a>
			{{end}}
		</div>
	</section>

	<section class="about" id="about">
		<div class="about-content">
			<h2>About</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
		</div>
	</section>

	<section class="contact" id="contact">
		<div class="main-contact">
			<div class="contact-content">
			<li><a href="#shop">Blog</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#faq">Faq</a></li>
			<li><a href="#contact">Contact</a></li>
			</div>

			<div class="contact-content">
				<li><a href="#">Shipping & Returns</a></li>
				<li><a href="#">Store Policy</a></li>
				<li><a href="#">Payment Methods</a></li>
			</div>

			<div class="contact-content">
				<li><a href="#">Costumer Service</a></li>
				<li><a href="#">+62 851-0000-0000</a></li>
			</div>

			<div class="contact-content">
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Instagram</a></li>
			</div>
		</div>

		<div class="action">
			<form>
				<input type="email" name="email" placeholder="Your Email" required>
				<input type="submit" name="submit" value="Submit" required>
			</form>
		</div>
	</section>

	<div class="last">
		<p>screedCare</p>
	</div>

	<script src="/static/js/script.js"></script>
</body>
</html>